---
layout: page
title: Security Control Catalog
quick_links:
- url: catalog.html\#AC
  title: Access Control
- url: catalog.html\#AP
  title: Authority and Purpose
- url: catalog.html\#AR
  title: Accountability, Audit and Risk Management
- url: catalog.html\#AT
  title: Awareness and Training
- url: catalog.html\#AU
  title: Audit and Accountability
- url: catalog.html\#CA
  title: Security Assessment and Authorization
- url: catalog.html\#CM
  title: Configuration Management
- url: catalog.html\#CP
  title: Contingency Planning
- url: catalog.html\#DI
  title: Data Quality and Integrity
- url: catalog.html\#DM
  title: Data Minimization and Retention
- url: catalog.html\#IA
  title: Identification and Authentication
- url: catalog.html\#IP
  title: Individual Participation and Redress
- url: catalog.html\#IR
  title: Incident Response
- url: catalog.html\#MA
  title: Maintenance
- url: catalog.html\#MP
  title: Media Protection
- url: catalog.html\#PE
  title: Physical and Environmental Protection
- url: catalog.html\#PL
  title: Planning
- url: catalog.html\#PM
  title: Program Management
- url: catalog.html\#PS
  title: Personnel Security
- url: catalog.html\#RA
  title: Risk Assessment
- url: catalog.html\#SA
  title: System and Services Acquisition
- url: catalog.html\#SC
  title: System and Communications Protection
- url: catalog.html\#SE
  title: Security
- url: catalog.html\#SI
  title: System and Information Integrity
- url: catalog.html\#TR
  title: Transparency
- url: catalog.html\#UL
  title: Use Limitation
---

<p>The Texas A&amp;M Transportation Institute Security Control Standards Catalog
  (“Controls Catalog”) establishes the minimum standards and controls for agency
  information security in accordance with the state’s Information Security Standards
  for Institutions of Higher Education found in Title 1, Chapter 202, Texas
  Administrative Code (TAC 202). For more information, visit the
  <a href="/policies.html">Policy and Standards</a> page.</p>

<hr />

<table id="catalog">
  <tr>
    <th>Procedure ID</th>
    <th>Procedure Name</th>
    <th>NIST Priority</th>
  </tr>
{% assign controls = site.data.controls | sort %}
{% for control_record in controls %}
{% assign control = control_record[1].Item %}
{% if family != control.Category.Item %}
  <tr>
    <td colspan="3" class="catalog_family_heading"><strong><a name="{{ control.Procedure_ID | slice: 0, 2 }}">{{ control.Category.Item }}</a></strong></td>
  </tr>
{% assign family = control.Category.Item %}
{% endif %}
  <tr class="catalog_control_entry">
    <td><a href="controls/{{ control.Procedure_ID }}.html">{{ control.Procedure_ID }}</a></td>
    <td>{{ control.Procedure_Name }}</td>
    <td>{{ control.NIST_Priority.Item }}</td>
  </tr>
{% endfor %}
</table>
