</div>
<div id="footer">
	<div class="region region-footer">
		<div class=" clearfix">
			<div class="block-inner">
				<div class="content" >
					<p>
						<!-- Make sure these links go to the right places -->
						<a href="{{ site.data.org.url }}" target="_blank" title="{{ site.data.org.title }}">{{ site.data.org.title }}</a> &#8226;
						<a href="{{ site.data.org.policies }}">Site Policies</a> &#8226;
						<a href="{{ site.data.org.webmaster }}">Webmaster</a>
					</p>
				</div>
			</div>
		</div> <!-- /block-inner /block -->
	</div>
</div>
</div>
