{% include head.html %}
<body>
  {% include header.html %}
	<!-- This is where the main content of the page goes-->
	<div id="main" class="clearfix">
		<div id="content">
      {% if page.title %}
			<div id="content-header">
				<h1 class="title">{{ page.title }}</h1>
			</div> <!-- /#content-header -->
      {% endif %}
			<div id="content-area" class="row">
				<div id="content-wrapper" class="span9 with-right-sidebar">
					<div id="content-block">
						<div class="clearfix">
              {{ content }}
						</div> <!-- /block-inner /block -->
					</div>
				</div>

        {% if site.data.catalog.audiences or site.data.catalog.families %}
        <!-- This is where sidebar content goes, the left division line only extends the length of the content -->
        <div id="sidebar-right-wrapper" class="span3">
					<div id="sidebar-right">
						<div>

            <!-- Google Custom Search Engine -->
            <div class="clearfix">
							<div class="block-inner">
								<h2 class="block-title">Search Control Catalog</h2>
								<div class="content">
                  <form action="/catalog-search.html" method="get" style="input {vertical-align: bottom;}">
                    <input type="text" placeholder="Search" name="q" style="height: 2em; width: 60%;" />&nbsp;
                    <input type="submit" value="&#x1F50D;" />
                  </form>
								</div>
							</div>
						</div> <!-- /block-inner /block -->

            {% if site.data.catalog.audiences %}
						<div class="clearfix">
							<div class="block-inner">
								<h2 class="block-title">Control Audiences</h2>
								<div class="content" >
									<ul class="menu">
                    {% for item in site.data.catalog.audiences %}
										<li class="leaf"><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
									</ul>
								</div>
							</div>
						</div> <!-- /block-inner /block -->
            {% endif %}

            {% if site.data.catalog.families %}
						<div class="clearfix">
							<div class="block-inner">
								<h2 class="block-title">Control Families</h2>
								<div class="content" >
									<ul class="menu">
                    {% for item in site.data.catalog.families %}
										<li class="leaf"><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
									</ul>
								</div>
							</div>
						</div> <!-- /block-inner /block -->
            {% endif %}

            </div>
          </div>
        </div>
        {% endif %}

			</div>
		</div>
	</div>
  {% include footer.html %}
</body>
</html>
