{% include head.html %}
<body>
  {% include header.html %}
	<!-- This is where the main content of the page goes-->
	<div id="main" class="clearfix">
		<div id="content">
			<div id="content-area" class="row">
				<div id="content-wrapper" class="{% if page.quick_links %}span9 with-right-sidebar{% else %}span12{% endif %}">
					<div id="content-block">
						<div class="clearfix">
              {{ content }}
						</div> <!-- /block-inner /block -->
					</div>
				</div>

        {% if page.quick_links %}
				<!-- This is where sidebar content goes, the left division line only extends the length of the content -->
				<div id="sidebar-right-wrapper" class="span3">
					<div id="sidebar-right">
						<div>
							<div class="clearfix">
								<div class="block-inner">
									<h2 class="block-title">Quick Links</h2>
									<div class="content" >
										<ul class="menu">
                      {% for item in page.quick_links %}
											<li class="leaf"><a href="{{ item.url }}">{{ item.title }}</a></li>
                      {% endfor %}
										</ul>
									</div>
								</div>
							</div> <!-- /block-inner /block -->
						</div>
					</div>
				</div>
        {% endif %}

			</div>
		</div>
	</div>
  {% include footer.html %}
</body>
</html>
